# Regression

## Overview

TODO
Python 3.8.5

## Dataset

- Dataset Name: Student Performance Data Set
- Link to the dataset: https://archive.ics.uci.edu/ml/datasets/Student+Performance#
- Number of observations: 395
- Description: This dataset includes data about student performance in their mathematics class in Portuguese secondary school. The variables include (but are not limited to) study time, free time, number of absences, health status, and final grade.

## Setup

In [91]:
#imports
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [92]:
#default is 10; Set to None to display all rows/cols in dataframes
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [93]:
student_data = pd.read_csv("student-mat.csv", sep=";")

In [94]:
student_data

    school sex  age address famsize  ... health  absences  G1  G2  G3
0       GP   F   18       U     GT3  ...      3         6   5   6   6
1       GP   F   17       U     GT3  ...      3         4   5   5   6
2       GP   F   15       U     LE3  ...      3        10   7   8  10
3       GP   F   15       U     GT3  ...      5         2  15  14  15
4       GP   F   16       U     GT3  ...      5         4   6  10  10
..     ...  ..  ...     ...     ...  ...    ...       ...  ..  ..  ..
390     MS   M   20       U     LE3  ...      4        11   9   9   9
391     MS   M   17       U     LE3  ...      2         3  14  16  16
392     MS   M   21       R     GT3  ...      3         3  10   8   7
393     MS   M   18       R     LE3  ...      5         0  11  12  10
394     MS   M   19       U     LE3  ...      5         5   8   9   9

[395 rows x 33 columns]

In [95]:
student_data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [96]:
student_data = student_data[["studytime", "freetime", "goout", "Dalc", "Walc", "G1", "G2", "G3"]]
student_data.columns = ["study_time", "free_time", "go_out", "weekday_alc", "weekend_alc", "1Q_grade", "2Q_grade", "final_grade"]

In [97]:
student_data

,study_time,free_time,go_out,weekday_alc,weekend_alc,1Q_grade,2Q_grade,final_grade
0,2,3,4,1,1,5,6,6
1,2,3,3,1,1,5,5,6
2,2,3,2,2,3,7,8,10
3,3,2,2,1,1,15,14,15
4,2,3,2,1,2,6,10,10
...,...,...,...,...,...,...,...,...
390,2,5,4,4,5,9,9,9
391,1,4,5,3,4,14,16,16
392,1,5,3,3,3,10,8,7
393,1,4,1,3,4,11,12,10
394,1,2,3,3,3,8,9,9

In [98]:
predict_label = "final_grade"
X = np.array(student_data.drop([predict_label], axis=1))
y = np.array(student_data[predict_label])

In [99]:
# Split into training and test sets (90/10 split)
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.1)

In [100]:
X_train

array([[ 3,  3,  3, ...,  3, 10,  9],
       [ 2,  5,  5, ...,  4, 10, 12],
       [ 2,  5,  4, ...,  5,  7,  7],
       ...,
       [ 1,  3,  1, ...,  1, 14, 13],
       [ 2,  3,  2, ...,  1, 10, 11],
       [ 4,  3,  2, ...,  1, 13, 15]])